@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
